<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJS</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
</head>
<body>
	<div class="well span6">		
	    <label>Message:</label>
		<input type="text"  ng-model="message" placeholder="您的訊息">
		<label>Name:</label>
		<input type="text"  ng-model="name" placeholder="您的名字">

		<hr>
		<h1>{{message}}{{name}}</h1>
	</div>
</body>
</html>